body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 430px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 16px;
  margin-top: 0px;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 16px;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 16px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 12px 16px;
  margin: 0px auto;
}